<div class="addingForm">
    <p class="formHeader"> Adding new language </p>
    <hr>
    <form method="post" asp-controller="Language" asp-action="Add">
        <input type="text" name="language.Name" placeholder="Enter language name" class="formInput">
        <input class="formButton" type="submit" value="Add">
    </form>
</div>