@model List<Language>;

<script src="~/js/deleteAsync.js"></script>
<script src="~/js/jQuery.js"></script>

@{ int i = 1; }
@foreach(Language language in Model)
{
	<div class="listItem">
		<form method="post" asp-controller="Language">
			<p class="formHeader"> #@(i) </p>
			<hr>
			<p class="listItemDescription"> 1. Language Id: @language.Id </p>
			<p class="listItemDescription"> 2. Language name: @language.Name </p>
				
			<table style="margin: 0 auto; width: 80%;">
				<tr>
					<td>
						<a onclick="deleteAsync('Language/Delete', @language.Id, 'language')" class="formButton"> Delete </a>
					</td>
					<td>
						<a asp-action="EditForm" asp-route-languageId="@language.Id" class="formButton"> Edit </a>
					</td>
				</tr>
			</table>                                
		</form>
	</div>
	i++;
}